@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --DarkBlue: hsl(249, 10%, 26%);
  --GrayishBlue: hsl(246, 25%, 77%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--Red);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
}

.container {
  /* margin: 30px auto; */
  display: grid;
  grid-template-columns: auto auto;
}

.left {
  width: 80%;
  margin: 0 auto;
}

.head {
  border: 1px solid var(--blue);
  width: 70%;
  background-color: var(--blue);
  margin-bottom: 20px;
}

form {
  border: 1px solid white;
  width: 70%;
}

form input {
  display: block;
}
